# create patch file /home/lgsm/lunaticpanel/plugins/maksimshimshon_gamemanagepanel/overrides/config_patch.cfg
# patch files are a way for mostly game hosting to ensure if user modify properties in config of a game server that property gets reset at the start/restart of the server.
# DefaultPort=16261
# UDPPort=16262
# MaxPlayers=16